{
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "semi": true,
  "importOrder": [
    "^@src/(.*)$",
    "^@hooks/(.*)$",
    "^@utils/(.*)$",
    "^@typings/(.*)$",
    "^@layouts/(.*)$",
    "^@pages/(.*)$",
    "^@components/(.*)$",
    "^@styles/(.*)$",

    "^[./]"
  ],
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
