{
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "semi": true,
  "importOrder": [
    "react",
    "^[./]",
    "^@mui/(.*)$",
    "^@components/(.*)$",
    "^@layouts/(.*)$",
    "^@pages/(.*)$",
    "^@src/(.*)$",
    "^@router/(.*)$",
    "^@utils",
    "^@hooks/(.*)$",
    "^@types/(.*.*)$",
    "^@styles/(.*)$"
  ],
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
