.MuiPaper-rounded {
  border-radius: 16px !important;
}

.MuiTableContainer-root,
.MuiPaper-root {
  box-shadow:
    rgba(145, 158, 171, 0.2) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px !important;

  background-color: rgb(255, 255, 255) !important;
}
